/* Content Definitions and Adjustments */

body {
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
}

	.content_position {
		max-width:90%;
		padding-top:20px;
		padding-bottom:20px;
		margin:auto;
	}


/*О нас*/

.slider__block {

}


	.topslider_image {
          width: 100%;
          margin: auto;
          height: 500px;
          
        }

        .topslider_image-1 {
          background: url("../content/slider1.jpg") no-repeat;
          background-position: center;
          background-size:cover;
        }

        .topslider_image-2 {
          background: url("../content/slider2.jpg") no-repeat;
          background-position: center;
          background-size:cover;
        }

        .topslider_image-3 {
          background: url("../content/slider3.jpg") no-repeat;
          background-position: center;
          background-size:cover;
        }

        .topslider_image-4 {
          background: url("../content/slider4.jpg") no-repeat;
          background-position: center;
          background-size:cover;
        }


        .slider__carousel{
          width:100%;
          padding:0;
          margin:0;
        }

        .slider__controlbar {
          position:relative;
          width:100%;
          height:50px;
        }
        #myCarousel .carousel-inner img {
          -webkit-filter: grayscale(90%);
          filter: grayscale(90%); /* make all photos black and white */ 
          width: 100%; /* Set width to 100% */
          margin: auto;
          height:500px;
        }
        
        #myCarousel .carousel-caption h3 {
          color: #fff !important;
        }
        
        #myCarousel ol.carousel-indicators {
          /*bottom:-50px !important;*/
          list-style: disc initial initial;
        }

        #myCarousel ol.carousel-indicators li {
          /*border-radius:0;*/
          width:15px;
          height:15px;
          border: 2px solid white;
          color:transparent;
        }

        #myCarousel .carousel-indicators .active {
          background-color:#800000;
          margin:0 0 1px 0 !important; 
          
        }

        #myCarousel .carousel-indicators li:hover {
          background-color:#777;
          
        }

        #myCarousel .carousel-control .right {
        	right:35px;
        }

        @media (max-width: 600px) {
          #myCarousel .carousel-caption {
            display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
          }      
        }
/*
.video__block_header {
	background-color:#fff;
	color:#333;
}*/

.first__block a {
 color:#990000;
}

.first__block-2 a {
 color:#880000;
}

.first__block a:hover {
 color:#f0b0b0;
}
.first__block-2 a:hover {
 color:#f0b0b0;
}

.video__block {
background-color:#2f2e2d;
}	
	.video__block_header{
text-align:center;
	}
	.containerMain {
    /*margin: 0;*/
	}

	.video__block_player {
	 text-align:center;
	 padding:15px;
	}	
		.video_player {
			width:100%;
			
			height:350px;

		}

	/*	@media */


	.video__block_text {
	padding-top:15px;
	padding-left: 25px;
	padding-right: 25px;
	}
		.video__block_text p {
			display:inline-block;

    vertical-align: middle;
	
	}
	.video__block_text2_wrapper {
		background-color:#777;
	}
	.video__block_text2 {
		margin:0 auto;
		padding-top: 30px;
    	padding-bottom: 30px;

	}

.anons__block {
margin: 0;
background-color:#dedede;
}


	.anons__block_header {

	}

	.anons__block_picframe {

	}
	.anons__block_picframe img {
		width:100%;
	}

	.picframe {
		margin: 0;
	}	
	.picframe a {
		margin: 0;
		padding:0;
	}




/* STANDAARTIZED TEMPLATE */
.first__block {
background-color:#2f2e2d;
padding-bottom:15px;
}	
.first__block-2 {
	padding-top:15px;
	padding-bottom:15px;
background-color:#777;
}	
	.first__block_header{
text-align:center;
	}
	.containerMain {
    /*margin: 0;*/
	}

	.first__block_media {
	 text-align:center;
	 padding:15px;
	}
	.first__block_media img {
padding-bottom:15px;
		width:100%;
			
			height:auto;
	}	
		.first_media {
			

		}

	


	/*	@media */


	.first__block_text {
	padding-top:15px;
	padding-left: 25px;
	padding-right: 25px;
	}
		.first__block_text p {
			display:inline-block;
			
    vertical-align: middle;
	
	}
	.first__block_text2_wrapper {
		background-color:#777;
	}
	.first__block_text2 {
		margin:0 auto;
		padding-top: 30px;
    	padding-bottom: 30px;

	}

.second__block {
	padding-top:15px;
	padding-bottom:15px;
margin: 0;
background-color:#dedede;
}


	.second__block_header {

	}

	.second__block_picframe {

	}
	.second__block_picframe img {
		width:100%;
	}

	.picframe {
		margin: 0;
	}	
	.picframe a {
		margin: 0;
		padding:0;
	}


/*gallery*/

.gallery__block {
background-color:#2f2e2d;
padding-bottom:35px;
padding-top:35px;
}	

.gallery__block_picframe  {

	}
.gallery__block_picframe  img {
		width:100%;
	}

	.gal_picframe {
		margin: 0;
	}	
	.gal_picframe a {
		margin: 0;
		padding:0;
	}





/*	
.actions__block {
background-color:#fff;
padding:50px;
}
.actions__block img {
max-width:200px;
max-height:125px;
}
	.actions__block_item1 {
	
	}

	.actions__block_item2 {
	
	}

	.actions__block_item3 {
	
	}

	.actions__block_item4 {
	
	}*/

/* image floating */
  	
/*.leftimg {
float:left; 
margin: 0px 20px 20px 0; 
}

.rightimg {
float:right;
 margin: 0px 0px 20px 20px;
}/*

/* Разряды */

/*.content__razryadi {
background-color:#eee;
}	
	.content__razryadi img {
		width:500px;
	}



	.razryadi__header {
		color:#333;
		text-align: center;
	padding-top:20px;
	padding-bottom:20px;
	}

	.razryadi__block1 {
	background-color:#5e5e5e;
	padding-top:20px;
	padding-bottom:20px;
	}
		

	.razryadi__block2 {
		color:#333;
		padding-top:20px;
	padding-bottom:20px;
	}

	.razryadi__block3 {
		background-color:#5e5e5e;
		padding-top:20px;
	padding-bottom:20px;
		height:200px;
	}
*/
/* Сауна */
/*
.content__sauna {
background-color:#eee;
}	
	.content__sauna img {
		width:500px;
	}



	.sauna__header {
		color:#333;
		text-align: center;
	padding-top:20px;
	padding-bottom:20px;
	}

	.sauna__block1 {
	background-color:#777;
	padding-top:20px;
	padding-bottom:20px;
	}

	.sauna__block2 {
		color:#333;
		background-color:#fff;
		padding-top:20px;
	padding-bottom:20px;
		height:200px;
	}
*/
/*Салон красоты*/
/*
.content__salon {
background-color:#eee;
}	
	.content__salon img {
		width:500px;
	}



	.salon__header {
		color:#333;
		text-align: center;
	padding-top:20px;
	padding-bottom:20px;
	}

	.salon__block1 {
	background-color:#777;
	padding-top:20px;
	padding-bottom:20px;
	}

	.salon__block2 {
		color:#333;
		background-color:#eee;
		padding-top:20px;
	padding-bottom:20px;
		height:200px;
	}
*/
/*Галерея*/
/*
.gallery__block {
	padding-top:30px;
	padding-bottom:30px;
	background-color:#eee;
}

.gallery__block h1 {
	text-align:center;
	color:#333;
	padding-bottom:30px;
}

.gallery__block img{
width:220px;
height:125px;
}
*/
/*Наши партнеры*/
/*
.content__partners {
background-color:#eee;
}	
	.content__partners img {
		width:500px;
	}

	.content__partners a {
		color:#eee;
	}

	.partners__header {
		color:#333;
		text-align: center;
	padding-top:20px;
	padding-bottom:20px;
	}

	.partners__block1 {
	background-color:#777;
	padding-top:20px;
	padding-bottom:40px;
	}

	.partners__block2 {
		color:#333;
		background-color:#eee;
		padding-top:20px;
	padding-bottom:20px;
		
	}
*/
/*Цены*/

/*Новости*/

/*Контакты*/
.contacts__block {
	text-align:center;
}

    .mainframe__map {
    } 
        .map__content {

        }
        
        #googleMap {
          width: 100%;
          height: 500px;

      }

/*Кухня*/