/* Let's start */
body {
/*background-color: #51190e; #361818;*/
background-color: #2f0404;
color:#fff;
}

.block__header {
background-image: url(../content/galleries/main/logo300.png);
height: 300px;
background-position: center top;
}

	.header__content {
	max-width:1000px;
	margin:auto;
	
	}	
	  		
	.header__content_text {
	position:relative;
	top:50px;
	padding-left:20px;
	width:250px;
	color:#fff;
	}
		.header__content_text h1 {
			font-size:24px;
			margin-top: 0;
		}
		.header__content_text p {
			font-size:18px;
	
		}
  			
.block__menubar {
/* height:50px;*/
}

	.navbar-nav{
	float: none !important;
    margin: auto !important;
    max-width: 735px;
    }


    	.navbar-nav a {
    	font-weight: bold;
		color:#fff;
    	}
    	.navbar-nav > li > a:hover, .navbar-nav > li > a:active {
		background-color:#51190e;
    	}

.block__content {

}
  	
.block__footer {
height:100px;
}

	.footer__info {
	 max-width:1000px;
	 margin:auto;
	}

		.footer__info_text {
		float:left;
		padding-left:20px;
		}
		
		.footer__info_text h1 {
			font-size:24px;
		}

		.footer__info_text p {
			font-size:16px;
		}

		.footer__info_phone {

		float:right;
		padding-right:20px
		}

		.footer__info_phone p {
			font-size:24px;
			padding-top:25px;
		
		}
	  		
	.footer__socials {
	margin:auto;
	width: 130px;

	}
		.footer__socials a {
			color:#fff;
			font-size:28px;
			padding-left:5px;
			padding-right:5px;
		}

		.footer__socials a:hover {
			color:#337ab7;
			
		}