

@media only screen and (min-width: 1360px) { 
/* slide */
	.topslider_image {
		height:500px;
	}

	/*content*/
	.content_position {
		max-width:70%;
	}


}


@media only screen and (min-width: 2000px) { 
/*slides 600px*/
.topslider_image {
	height:700px;
}

/*content*/
.content_position {
max-width:60%;
}
	/*menu*/
	.navbar-nav>li>a  {
		padding-left:30px;
		padding-right:30px;
	}

	/*fonts*/
	body {
		font-size:18px;
	}

}


@media only screen and (max-width: 1360px) { 

/*content*/
	.content_position {
		max-width:80%;
	}

}

@media only screen and (max-width: 1200px) { 
/* slide */
	.topslider_image {
		height:435px;
	}

/*content*/
	.content_position {
		max-width:90%;
	}

	/*iframe*/
	.video_player {
		height:350px;
	}
	/*top text*/
	.header__content_text {
		top:30px;
	}

	.header__content_text h1 {
			font-size:18px;
			
		}
		.header__content_text p {
			font-size:14px;
	
		}
		/*menu font*/
		.block__menubar {
			font-size:14px;
		}
	.modal-dialog {
		max-width:900px !important;
	}
}


@media only screen and (max-width: 900px) { 
	/* slide */
	.topslider_image {
		height:320px;
	}
	/*fonts*/
	body {
		font-size:14px;
	}
	/*menu*/
	.navbar-nav>li>a  {
		padding-left:5px;
		padding-right:5px;
	}
}


@media only screen and (max-width: 500px) {
	/*slides 180px*/
	.topslider_image {
		height:180px;

	}

	/*iframe*/
	.video_player {
		height:250px;
	}

	/* footer text2 */
	.footer__info_phone {
		float:left;
	}
}