#central_frame p {
	text-align:left !important;
}

@media only screen and (max-width:380px) {
  
    ul .but a {
        padding-top:3px;}
}


@font-face {
    font-family: bpg_glaho;
    src: url(./fonts/bpg_glaho.ttf);
}

#main_menu_row, #central_frame {
	font-family:bpg_glaho !important;
}