html, body{
    overflow-x: hidden;
    height:100%;
    width:100%;
    color: #ffe2b4; 
    font-family: 'a_AvanteTck Medium', arial;}

#main_frame {
    height:100%; }

/* Rows */
#top_row {
    height:16%;
    min-height:125px;   }

div.absolute {
    position: absolute;
    top: 5%;
    right: 3%;}

.language {
    opacity:0.8;
    background: none ;
    border: none;   }

.language:hover {
    opacity:1;  }

div .absolute .language:focus {
    border: 0; 
    opacity:1; }


#language_menu{
    background: none;
    min-width:90px;
    right:0;
    left:auto;
    border: 1px solid #ffe2b4;
    border-radius: 3px;
    color:#ffe2b4;  }

#language_menu a {
    text-align:center;
    color:#ffe2b4;
    margin:auto;
    padding:0;  }

#language_menu a:hover {
    background-color: rgba(255, 226, 180, 0.4);  }



#central_row {
    min-height:500px;
    height:68%; }

#bottom_row{
    height:16%; }

/* Frames */
#top_frame {
    padding:0;
    height:100%;
    background: #182948;
    transition: background 1s;  }

#central_frame {
    height:100%; 
    padding:0;
    font-size:16px;    
    font-weight:100;
    color:#fff; }

#central_frame p {
    text-align: justify;
    text-justify: inter-word;
    margin-left:auto;
    margin-right:auto;
    width:80%;  }

#bottom_frame {
    border-top: 1px solid #ffe2b4;
    height:100%;
    background: #182948;
    transition: background 1s; }

/* Brand_Bar row*/

#logobar_row {
    height:76.38%;  }

#logo {
   /* height:100%;*/    }

#logo_pic {
    /*margin-top:15%;*/
    max-height:100%;
    width:auto; }

#brand {
    /*height:100%;*/  }

.flex-brand h2, .flex-brand h4 {
    margin-top:10px;
    margin-bottom:10px; }

.flex-bar {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    align-content:center;
    align-items:center;
    margin:auto;
    width: 320px;
    height:100%;
    /*background-color: lightgrey*/;
}

.flex-logo {
    /*background-color: cornflowerblue;*/
    width: 80px;
    height: 80px;
    margin: 10px;
}

.flex-brand {
    /*background-color: cornflowerblue;*/
    width: 220px;
    height: 80px;
    margin: 10px;
}


/* Main Menu row */
#main_menu_row{
    height:23.62%;
    width:100%;
    border-top: 3px solid #ffe2b4;
    border-bottom: 1px solid #ffe2b4;
    padding-top:4px;
    position:absolute;
    bottom:0;   
    margin:0;   }

#main_menu {
    }

/* Slides Inner */
#p1_back {
    height:100%;
    background-color: rgba(12, 34, 68, 0.40);   }

#p2_back {
    height:100%;
    background-color: rgba(121, 93, 113, 0.50);  }

#p3_back {
    height:100%;
    background-color: rgba(11, 13, 16, 0.40);  }

#p4_back {
    height:100%;
    background-color: rgba(24, 72, 139, 0.35);  }

#p1_back p {
    margin-top:20%;
    width:95%;  }
    
#p2_back p {
    width:95%;
    margin-top:20%; }

#p3_back p {
    width:95%;
    margin-top:20%; }

#p3_back .p_hidden {
    margin-top: 0;
    padding-top: 30px;  }

#p4_back p {
    width:75%;
    margin-top:15px;
    font-size:16px;}

/* Slides themselves */
#main0 {
    background-color:#182948;
    /*background: url(../css/0_1920.jpg) no-repeat center fixed; */
    /*background-size: cover;*/
    background: url(../content/company_1920.jpg) no-repeat center fixed;
    height:100%;
    width:100%;
    padding:0;
    margin:0;   }

#main3{
    background-color:#181649;
    /*background: url(../css/1_1920.jpg) no-repeat center fixed;*/
    background: url(../content/services_1920.jpg) no-repeat center fixed;
    height:100%;
    width:100%;
    padding:0;
    margin:0;   }
/*
#main4{
    background-color:#580000;
    background: url(../css/4_1920.jpg) no-repeat left fixed;
    background: url(../content/tours_1920.jpg) no-repeat left fixed;
    height:100%;
    width:100%;
    padding:0;
    margin:0;   }
*/


#main2 {
    background-color:#0c0d10;
    /*background: url(../css/2_1920.jpg) no-repeat center fixed;*/
    background: url(../content/partners_1920.jpg) no-repeat center fixed;
    height:100%;
    width:100%;
    padding:0;
    margin:0;   }

#main1 {
    background-color:#614350;
    /*background: url(../css/3_1920.jpg) no-repeat center fixed;*/
    background: url(../content/contacts_1920.jpg) no-repeat center fixed;
    height:100%;
    width:100%;
    padding:0;
    margin:0;   }

/* Here comes the blackstripe row */
#blackstripe_row{
    width:100%;
    min-height:25px;
    border-top: 1px solid #ffe2b4;
/*    padding-top: 3px;*/
    position:absolute;
    bottom:0;
    background: #182948;
    transition: background 1s; }

#blackstripe_row .glyphicon {
    color:#ffe2b4; }

#blackstripe_row a {
    color:#ffe2b4;
    margin: 2px 0 2px; }

#blackstripe_row p {
    word-break:keep-all;
    display:inline-block;
    margin: 2px 0 2px; 
    vertical-align:middle;  }

/* Classy stuff */
.navbar-nav, .nav {
    margin: auto;
    text-align: center;
    /*float:none;*/ }


.but {
    cursor: pointer;
    padding: 0;
    min-width:60px;}
ul .but a {
    color: #ffe2b4;
    padding-top:2px;
    padding-bottom:7px;    }

.nav .but a:hover {
    border-top: 4px solid #ffe2b4;
    margin-top: -4px;
    background-color: initial;}


ul .but a:focus {
    border-top: 4px solid #ffF2D4;
    margin-top: -4px;
    background-color: initial;}

.center {
    margin: auto;
    text-align: center; }

.slide{
    height:100%;
    padding:0;
    margin:0;   }

/* The Matrix has you, Neo  */

#matrix{
    margin-top:1%;  }

.matrixrow{
    padding:10px 0 5px 0;
    width:95%;
    margin: auto;   }

.node {
    padding:0;
    margin:auto;
    width:33%;  }

.node p {
    display:none;
    visibility: hidden;
    color: #ffe2b4;
    padding:0;
    margin:auto;
    object-position: center;
    text-align:center;  }

.node a{
    margin-left:22.5%;  }

#nod1 {
    padding:0;
    /*margin-left:25%;  */
    margin-top:auto;
    width:70%;
    object-position: center;
    transition: background-color 0.5s;
/*background-color:rgba(37, 27, 22, 0.2);*/
    border-radius:15px; }


#nod1:hover {
    /*background-color:rgba(37, 27, 22, 0.7);*/
    background-color: rgba(11, 13, 16, 0.75);    } 

/* ### Here's the ADAPTIVE begins ### */

 /*MAX 1280x1024 */
@media only screen and (max-height: 1024px) and (max-width:1280px) {
    ul .but a {
       }
    #central_frame {
        font-size:14px; }
    
    
    #main0 {
        background: url(../css/0_1280.jpg) no-repeat center;
        background-size: cover; }
        
    #main3 {
        background: url(../css/1_1280.jpg) no-repeat center;
        background-size: cover; }
    #main2 {
        background: url(../css/2_1280.jpg) no-repeat left;
        background-size: cover; }

    #main1 {
        background: url(../css/3_1280.jpg) no-repeat center;
        background-size: cover; }
    }
@media only screen and (width:1280px) and (height:1024px) {
    #matrix{
        margin-top:20%;
    }
}

@media only screen and (max-height:800px) {
    ul .but a {
        padding-top:0;  }
    #matrix .node {
        width:29%;  }   
}

@media only screen and (min-width:1750px) {
    #nod1 {
        width:60%;
    }  
}


@media only screen and (max-height:640px) {
    .logoslid {
        display:none;   }
    #central_row {
        Height:84%; }
    #bottom_row {
        height:auto;    }
}


@media only screen and (max-width:767px) {
    #central_row {
        Height:84%; }
    #bottom_row {
        height:auto;    }
    #matrix .node {
        padding:0;
        margin:auto;
        width:25%;  }
    #matrix .node a{
        margin-left:15%;  }
}

@media only screen and (max-width:520px) {
    #central_row {
        min-height:550px;   }
    #central_row p {
        width:100%;   }
    #p1_back {
        background-color: rgba(12, 34, 68, 0.55);   }

    #p2_back {
        background-color: rgba(121, 93, 113, 0.70);  }
    #p1_back p, #p2_back p, #p3_back p, #p4_back p {        
        margin-top:20px;    }
    #language_menu{
        background-color:rgba(30,30,30,0.7);    }
    #matrix {
        margin-top:5%;
        /*background-color:rgba(11, 13, 16, 0.70);*/
        border-radius:10px; }  
}

/* Fix to collapsing blackstripe <p> */
@media only screen and (max-width:370px) {
    #blackstripe_row p {
        font-size:11px; }
    div.absolute {
        font-size:10px; }
}
