.topframe, 
.botframe,
.navbar  {
  background-color: #523d2f !important;
}

.mainframe__about,
.mainframe_services,
.mainframe__contacts
 {
      background-color: #fffdf7;
  }


 .mainframe_cigars,
 .mainframe_gallery,
 .mainframe__fbcomments
  {

      background-color: #f4ecd6 !important;
    }

.mainframe__video {
      
      background-color: #685243 !important;
    }

.navbar-nav li a:hover, .navbar-nav li.active a {
          
          background-color: #685243 !important;
        }
  

#myCarousel .carousel-indicators li:hover {
          background-color:#fffdf7 !important;
}

#myCarousel2 .carousel-indicators li.active {
          background-color:#685243 !important;
}

.contacts__content a {
	color:#523d2f;
}

.contacts__content a:hover {
	color:#685243 ;
}
