body {position:relative;}

.topframe {
  background-color: #555;
}
    .topframe__header {
      height:100px;
    }

    .topframe__menu {}

        .affix {
          top:0;
          width: 100%;
          z-index: 9999 !important;
        }
               
        .affix ~ .container-fluid {
          position: relative;
          top: 100px;
        }
        .navbar {
          margin-bottom:0;
          background-color: #555;
          z-index: 9999;
          border: 0;
          font-size: 14px !important;
          line-height: 1.42857143 !important;
          letter-spacing: 4px;
          border-radius: 0;
        }
        
        .navbar li a, .navbar .navbar-brand {
          color: #eee !important;
        }
        
        .navbar-nav li a:hover, .navbar-nav li.active a {
          
          background-color: #444 !important;
        }
        /*
        .navbar-default .navbar-toggle {
          border-color: transparent;
          color: #fff !important;
        }*/

    .topframe__slider {}

        .slider__carousel{
          width:100%;
          padding:0;
          margin:0;
        }

        .slider__controlbar {
          width:100%;
          height:50px;
        }
        #myCarousel .carousel-inner img {
          -webkit-filter: grayscale(90%);
          filter: grayscale(90%); /* make all photos black and white */ 
          width: 100%; /* Set width to 100% */
          margin: auto;
          height:500px;
        }
        
        #myCarousel .carousel-caption h3 {
          color: #fff !important;
        }
        
        @media (max-width: 600px) {
          #myCarousel .carousel-caption {
            display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
          }
        }

.mainframe {}
    .mainframe__about {
      background-color: #fff;
      margin-bottom:0px;
    }
        .about__content {
          
        }

    .mainframe_services {
      margin-bottom:0px;
      background-color: #fff;
    }
        .services__content {
       
        }
        
    .mainframe_cigars {
      margin-bottom:0px;
      background-color: #e5e5e5;
    }
        .cigars__content {
          
        }
            /* Carousel styles*/
            #myCarousel2 .carousel-control.right, #myCarousel2 .carousel-control.left {
              background-image: none;
              color: #a7a7a7;
            }
            
            #myCarousel2 .carousel-indicators li {
              border-color: #555;
            }
            
            #myCarousel2 .carousel-indicators li.active {
              background-color: #777;
            }
            
            #myCarousel2 .item h4 {
              font-size: 19px;
              line-height: 1.375em;
              font-weight: 400;
              font-style: italic;
              margin: 70px 0;
            }
            
            #myCarousel2 .item span {
              font-style: normal;
            }
        
    .mainframe__video {
      margin-bottom:0px;
      background-color: #a7a7a7;
    }
        .video__content {
          
        }
       
    .mainframe_gallery {
      margin-bottom:0px;
      background-color: #e5e5e5;
    }
        .gallery__content {
          
        }
      
    .mainframe__contacts {
      margin-bottom:0px;
      background-color: #fff;
    }
        .contacts__content {
       
        }
        
    .mainframe__fbcomments {
      background-color: #e5e5e5;
    }
        .fbcomments__content {
          
        }
      
        .about__content_position,
        .services__content_position,
        .cigars__content_position,
        .video__content_position,
        .gallery__content_position,
        .contacts__content_position,
        .fbcomments__content_position,
        .botframe__content_position {
          max-width:800px;
          margin:0 auto;
          padding-bottom:15px;
        }

.botframe {
  height:200px;
  background-color: #555;
}
    .botframe__content {}
    
        .botframe__content_copyright {}
        .botframe__content_upper  {
          text-align:center;
          padding-top:20px;
        }
          .botframe__content_upper .glyphicon {
            font-size: 20px;
            margin-bottom: 20px;
            color: #f7f7f7;
          }
        .botframe__content__counters {}