body {position:relative;}

/* Positioners */
        .header__content_position {
          max-width:800px;
          margin:0 auto;
          padding-bottom:15px;
        }

        .about__content_position,
        .services__content_position,
        .cigars__content_position,
        .video__content_position,
        .gallery__content_position,
        .contacts__content_position,
        .fbcomments__content_position,
        .botframe__content_position {
          max-width:800px;
          margin:0 auto;
          padding-bottom:15px;
        }
  
.topframe {
  background-color: #555;
}
    .topframe__header {
      height:100px;
      
    }

        .topframe__header_brand {
          display:inline-block;
          width:205px;

          float:left;
        }
        
        .topframe__header h1 {
          margin: 15px 0 0 0;
          font-size:28px;
          color:white;
          border-bottom: 1px solid white;
        }
        
        .topframe__header h2 {
          margin: 5px 0 0 0;
          font-size: 12px;
          letter-spacing: 2px;
          color:white;
        }

        .topframe__header p {
          text-align: right;
          margin: 55px 0 0 0;
          font-size:14px;
          letter-spacing: 1px;
          color:white;
        }

        .topframe__header_contacts {
          display:inline-block;
          width:190px;
          float:right;
        }


    .topframe__menu {
      height: 50px;
    }

        .affix {
          top:0;
          width: 100%;
          z-index: 9999 !important;
        }
               
        .affix ~ .container-fluid {
          position: relative;
          top: 100px;
        }
        .navbar {
          margin-bottom:0;
          background-color: #555;
          z-index: 9999;
          border: 0;
          font-size: 14px !important;
          line-height: 1.42857143 !important;
          letter-spacing: 4px;
          border-radius: 0;
        }
        
        .navbar-nav {
          width:683px;
          margin:auto;
          float:none !important;
        }

        .navbar li a, .navbar .navbar-brand {
          color: #eee !important;
        }
        
        .navbar-nav li a:hover, .navbar-nav li.active a {
          
          background-color: #444 !important;
        }
        /*
        .navbar-default .navbar-toggle {
          border-color: transparent;
          color: #fff !important;
        }*/

    .topframe__slider {}
        
        .topslider_image {
          width: 100%;
          margin: auto;
          height: 500px;
          
        }

        .topslider_image-1 {
          background: url("../content/slider/01.jpg") no-repeat;
          background-position: center;
          background-size:cover;
        }

        .topslider_image-2 {
          background: url("../content/slider/02.jpg") no-repeat;
          background-position: center;
          background-size:cover;
        }

        .topslider_image-3 {
          background: url("../content/slider/03.jpg") no-repeat;
          background-position: center;
          background-size:cover;
        }

        .topslider_image-4 {
          background: url("../content/slider/04.jpg") no-repeat;
          background-position: center;
          background-size:cover;
        }


        .slider__carousel{
          width:100%;
          padding:0;
          margin:0;
        }

        .slider__controlbar {
          position:relative;
          width:100%;
          height:50px;
        }
        #myCarousel .carousel-inner img {
          -webkit-filter: grayscale(90%);
          filter: grayscale(90%); /* make all photos black and white */ 
          width: 100%; /* Set width to 100% */
          margin: auto;
          height:500px;
        }
        
        #myCarousel .carousel-caption h3 {
          color: #fff !important;
        }
        
        #myCarousel ol.carousel-indicators {
          bottom:-50px !important;
          list-style: square initial initial;
        }

        #myCarousel ol.carousel-indicators li {
          border-radius:0;
          width:15px;
          height:15px;
          border: 1px solid white;
          color:transparent;
        }

        #myCarousel .carousel-indicators .active {
          background-color:#fff;
          margin:0 0 1px 0 !important; 
          
        }

        #myCarousel .carousel-indicators li:hover {
          background-color:#777;
          
        }

        @media (max-width: 600px) {
          #myCarousel .carousel-caption {
            display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
          }      
        }

.mainframe {}
        


    .mainframe__about {
      background-color: #fff;
      margin-bottom:0px;
    }
        .about__content {
          text-align: center;
        }

        .about__content h2 {
          padding:15px;


        }

        .about__content h4 {
          padding:15px 15px 0 15px;

         
        }

        .about__content p {
          padding:15px;
          text-align: left;
          font-size:16px;
          display:inline-block;
          max-width:600px;
        }

        .services__content {
          text-align: center;
        }

        .services__content h4 {
          padding:15px;
          display:inline-block;
          max-width:600px;
        }

    .mainframe_services {
      margin-bottom:0px;
      background-color: #fff;
    }
        .services__content {
       
        }
        
    .mainframe_cigars {
      margin-bottom:0px;
      background-color: #e5e5e5;
    }
        .cigars__content {
          text-align:center;
        }
        .cigars__content h3 {
          margin: 20px 0;
        }
            /* Carousel styles*/
            #myCarousel2 .carousel-control.right, #myCarousel2 .carousel-control.left {
              background-image: none;
              color: #a7a7a7;
            }
            
            #myCarousel2 .carousel-indicators li {
              border-color: #555;
            }
            
            #myCarousel2 .carousel-indicators li.active {
              background-color: #777;
            }

            #myCarousel2 .item {
            
            }

            .item_image {
              width:70%;
              margin:auto;
              height:auto;
            }
            
            #myCarousel2 .item h4 {
              font-size: 19px;
              line-height: 1.375em;
              font-weight: 400;
              font-style: italic;
              margin: 70px 0;
            }
            
            #myCarousel2 .item span {
              font-style: normal;
              
            }
            
            #myCarousel2 .item p {
              padding-top:15px;
              display:inline-block;
              margin:auto;  
              width:80%;
              min-height:65px;
              
            }
            
    .mainframe__video {
      margin-bottom:0px;
      background-color: #a7a7a7;
    }
        .video__content {
          text-align:center;
          
        }
        
        .content__player {
          padding:15px;
        }
    .mainframe_gallery {
      margin-bottom:0px;
      background-color: #e5e5e5;
    }
        .gallery__content {
          padding:30px;
          text-align:center;
          
        }

        .gallery__content h3 {
          margin:0 0 20px 0;
          
        }

        .modal-dialog {
          margin-top:70px;  
        }

            .content__outerrow {
              padding:15px 0;
              background-color:white;
              border-radius:10px;
              text-align:center;

            }
        
            .content__innerrow {
              margin:0;
              
            }
                .content__innerrow a {
                  padding:0;
                }

                .content__innerrow_img  {
                  padding:5px;
                  width: 100%;
                }


      
    .mainframe__contacts {
      margin-bottom:0px;
      background-color: #fff;
    }
        .contacts__content {
       
        }
        
    .mainframe__fbcomments {
      background-color: #e5e5e5;
    }
        .fbcomments__content {
          padding:15px 0;
          text-align:center;
        }
      
        
        
        

.botframe {
  height:200px;
  background-color: #555;
}
    .botframe__content {}
    
        .botframe__content_copyright {}
        .botframe__content_upper  {
          text-align:center;
          padding-top:20px;
        }
          .botframe__content_upper .glyphicon {
            font-size: 20px;
            margin-bottom: 20px;
            color: #f7f7f7;
          }
        .botframe__content__counters {}